<div class="login-status-header">
  <button *ngIf="!getUserDetails()" routerLink="/login" class="security-btn">
    Login
  </button>

  <div *ngIf="getUserDetails()" class="login-status-user-info">
    Welcome back {{ getUserDetails() }}
  </div>
  <button *ngIf="getUserDetails()" routerLink="/login" class="security-btn">
    Logout
  </button>

  <button
    *ngIf="getUserDetails()"
    routerLink="/menbers"
    class="security-btn ml-1"
  >
    Members
  </button>

  <button
    *ngIf="getUserDetails()"
    routerLink="/menbers"
    class="security-btn ml-1"
  >
    Orders
  </button>
</div>
