<div class="main-content page-m">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <form>
        <!-- Login form -->
        <div class="form-area">
          <h3 style="margin-left: 400px">Login</h3>

          <div class="row">
            <div class="col-md-2"><label>Email</label></div>
            <div class="col-md-6">
              <div class="input-space">
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  placeholder="Enter  your email"
                  [(ngModel)]="email"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>Password</label></div>
            <div class="col-md-6">
              <div class="input-space">
                <input
                  type="password"
                  class="form-control"
                  name="password"
                  placeholder="Enter your password"
                  [(ngModel)]="password"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <a routerLink="/signup" style="text-align: none"
                >Need Account ?</a
              >
            </div>
            <div class="col-md-6">
              <a routerLink="/forgot" class="text-dark" style="text-align: none"
                >Forgot password ?</a
              >
            </div>
          </div>
        </div>

        <!-- Bouton de validation -->
        <div class="text-center">
          <button type="submit" class="btn btn-info" (click)="login()">
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
